mixin miniCard(title, number, icon, direction, arrow, stats)
  .mini-card
    .mini-card_views
      h3=title
      p=number
    .mini-card_stats
      i(class=icon).icon
      span.mini-card_stats--values(class=direction)
        i(class=arrow)
        small=stats + "%"